/build
*.o
*.mod
*.x
#*.out
*~
*.swp
src/icepack_drivers/Icepack
/work_*
Makefile.in
A/
A3/
A4/
B/
EXP.txt
control/
drift/
drift3/
fast_test/
oce_ale_tracer.F90
spinups/
test/fesom.out.done
test/fesom2.0.out
test/job_ollie
test/namelist.config
test/namelist.forcing
test/namelist.forcing.jra55
test/namelist.ice
test/namelist.icepack
test/namelist.io
test/namelist.io.recom
test/namelist.oce
test/namelist.recom
test/slurm-err.out
test/slurm-out.out
test3/
test4/
test_control/
test_new_sinking/
test_new_sinking_2/
test_new_sinking_nobentsinking/
test_newsinking_noremin_nobenthos/
test_newsinking_noremin_nobenthos_VDetzoo2_20/
test_newsinkingv2_VDetzoo2_200/
test_newsinkingv2_noremin_VDetzoo2_20/
test_newsinkingv2_noremin_nobenthos/
test_newsinkingv2_noremin_nobenthos_VDetzoo2_20/
test_noremin_nobenthos/
test_noremin_nobenthos_VDetzoo2_20/
test_nosinking_noremin_nobenthos/
view/modules/fesom_plot_tools.pyc
view/modules/load_mesh_data.pyc
view/modules/ut.pyc


