# If the pattern starts with a slash, it matches files and directories only in the repository root.
# If the pattern does not start with a slash, it matches files and directories in any directory or subdirectory.
# If the pattern ends with a slash, it matches only directories. When a directory is ignored, all of its files and subdirectories are also ignored.

# ignore everything
/*

# except
!/cmake/
/cmake/cvmixConfig.cmake
/cmake/cvmixConfig-debug.cmake
/cmake/cvmixConfig-release.cmake
!/config/
!/docs/
!/dwarf/
!/env/
!/fpost2/
!/lib/
/lib/*.a
/lib/*.so
!/mesh_part/
/mesh_part/build/
!/setups/
!/src/
/src/cvmix_driver/CVMix-src/
/src/icepack_drivers/Icepack/
!/test/
!/test_downstream/
/test_downstream/build/
!/tests/
!/tools/
!/visualization/
#!/work/ # todo: was added to be ignored in 11db3a736. why?

